<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Seattle Restaurants Review</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <body>
    <div class="containter">
      <%- body %>
    </div>
    <div class="container">
        <a href="/" class="btn btn-primary">Home Page</a>
        <a href="/articles" class="btn btn-info">View Articles</a>
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/routing.js"></script>
  </body>
</html>
