<h2 class="text-center">New Post</h2>

<form action="/articles" method="post">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" name="title" placeholder="topic of article" class="form-control">
  </div>
  <div class="form-group">
    <label for="content">Content:</label>
    <textarea name="content" class="form-control"></textarea>
  </div>
  <input type="submit" value="Create Article" class="btn btn-success">
</form>
